<nav class="navbar">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/home">People</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/admission">Admission</a></li>
    <li><a href="https://lnmu.ac.in/">University</a></li>
    <li><a href="http://student-portal.witlnmu.ac.in">Student Portal</a></li>
    <li><a routerLink="/student-desk">Student Desk</a></li>
    <li><a routerLink="/aproval">Approvals</a></li>
    <li><a routerLink="/more">More</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>







