<header class="header">
  <div class="witlogo">
    <img src="assets/logo_wit.png" alt="College Logo">
  </div>
  
    <div class="content">
        <h1> <span style="color: green; text-align: center;">Dr. APJ Abdul Kalam Women's</span></h1>
        
        <h1> <span style="color: green; text-align: center;"> Institute of Technology </span></h1>
        <h4 style="text-align: center;">A unit of Lalit Narayan Mithila University</h4>
        <H5>(Under self finance mode)</H5>
    </div>
    <div class="universitylogo">
        <img src="assets\logoLNMU.jpg" alt="university logo">
    </div>
  <div class="witlogo2">
    <img src="assets\download (13).png " alt="witlogo" >
</div>
</header>



