<header class="header">
  <div class="witlogo">
    <img src="assets/logo_wit.png" alt="College Logo">
  </div>
    <!-- <div class="Angularlogo">
        <img src="assets\5847ea22cef1014c0b5e4833.png" alt="Angular logo">
    </div> -->
    <div class="content">
        <h1> <span style="color: green;">Dr. APJ Abdul Kalam Women's Institute of Technology</span></h1>
    </div>
    <div class="universitylogo">
        <img src="assets\logoLNMU.jpg" alt="university logo">
    </div>
  <div class="sbitlogo2">
    <img src="assets\download (13).png " alt="Sbitlogo" >
</div>
</header>



