<section class="footer">

 
   <div class="icons-container">
 
 
      <div class="icons">
         <i class="fas fa-phone"></i>
            <h3>Phone</h3>
            <p>+91-00000000</p>
 
      </div>
 
      <div class="icons">
         <i class="fas fa-envelope"></i>
            <h3>email</h3>
            <p>xyz@gmail.com</p>
 
      </div>
 
      <div class="icons">
         <i class="fas fa-map"></i>
            <h3>Address</h3>
            <p>Drabhanga, Bihar, India</p>
      </div>
 
   </div>
 
 
 </section>
 